<div class="flex-container">
  <div>
    <h1>
      Upload your image
    </h1>
  </div>
  <div>
    <i class="fas fa-upload center image" style="font-size:48px;color:#3F51B5;width:48px;" *ngIf="!imageUrl"></i>
    <img [src]="imageUrl" height="300px;" *ngIf="imageUrl">
  </div>
  <div style="margin-top:1rem;">
    <span style="color:red;" *ngIf="message">{{message}}</span>
    <input #file type="file" accept='image/*' (change)="preview(file)" />
    <button mat-raised-button color="primary" (click)="upload()">Upload</button>
  </div>
  <div>
    {{result}}
  </div>
</div>